# CLI options
GRAFANA_REVISION=branch:main
GRAFANA_ARCH=linux/amd64
PROVISION_DRIVER=local
PROVISION_STATE=
REPORT_CLOUD=false

# credentials / config
GCP_CREDS_FILE=

#ops
K6_CLOUD_PROJECT=
K6_CLOUD_TOKEN_PATH=

#jefflevinslunch
#K6_CLOUD_PROJECT=
#K6_CLOUD_TOKEN_PATH=

