# CLI options
GRAFANA_REVISION=branch:main
GRAFANA_ARCH=linux/amd64
PROVISION_DRIVER=local
PROVISION_STATE=

#GCP credentials
GCP_CREDS_FILE=

#K6
REPORT_CLOUD=false
K6_CLOUD_PROJECT=
K6_CLOUD_TOKEN=
