# ignore directory where we're doing all the work and setting stuff up
.env*
.DS_Store
scratch/

CI/**/test-results
CI/**/node_modules
CI/plugin-e2e/playwright
CI/playwright/playwright

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# generated libsonnet files
libsonnet/
!generators/**
vendor/
plugin/node_modules/

# don't add stuff related to enghub testing
node_modules/
package-lock.json
site/

# playwright output from tests
CI/plugin-e2e/playwright
CI/plugin-e2e/node_modules
CI/plugin-e2e/test-results
