#! /bin/bash

# setup additional repos
apt-get update
apt-get install curl sqlite3

# setup grafana
mkdir -p /tmp/grafana
cd /tmp
curl "{{ .GrafanaBundleUrl }}" -o grafana.tar.gz
tar -xvf grafana.tar.gz --directory=grafana
cd grafana

# run grafana
./grafana server
